<!-- Loop over each object in the posts array -->
{{#each posts as |post| }}
  <div class="post">
    <div class="post-header">
      <h2>{{post.name}}</h2>
      <p>Posted by {{post.user.name}} on {{format_date post.date_created}}</p>
    </div>
    <div class="post-body">
      <p>{{post.description}}</p>
      <p><a href="/posts/{{post.id}}">Comment</a></p>
    </div>
  </div>
{{/each}}

