<div class="post">
  <div class="post-header text-center">
    <h2>{{name}}</h2>
    <p>Created by {{user.name}} on {{format_date date_created}}</p>
  </div>
  <div class="post-body text-center">
    <p>{{description}}</p>
    <button class="btn btn-primary">Leave a comment!</button>
  </div>
  <div class="post-comments text-center">
    <h3>Comments</h3>
    <!-- Assuming comments is an array with each comment as an object -->
    {{#each comments as |comment| }}
      <div class="comment">
        <p>{{comment.text}}</p>
        <p>Commented by {{comment.user.name}} on {{format_date comment.date_created}}</p>
      </div>
    {{/each}}
  </div>
</div>

