<div class="post">
  <div class="post-header text-center">
    <h2>{{name}}</h2>
    <p>Created by {{user.name}} on {{format_date date_created}}</p>
  </div>
  <div class="post-body text-center">
    <p>{{description}}</p>
  </div>
  <div class="post-comments text-center">
    <h3>Comments</h3>
   
    {{#each comments as |comment| }}
      <div class="comment">
        <p>{{comment.comment_text}}</p>
        <p>Commented by {{comment.user.name}} on {{format_date comment.date_created}}</p>
      </div>
    {{/each}}
    <form class="comment-form">
      <textarea id="comment-text" name="comment" rows="4" cols="50"></textarea>
      <input type="hidden" id="post-id" value="{{id}}">
      <div class="text-center">
        <button class="btn btn-primary" type="submit">Leave a comment!</button>
      </div>
    </form>
  </div>
</div>


